click==7.1.2
dnspython==2.0.0
email-validator==1.1.1
flask==1.1.2
flask-wtf==0.14.3
idna==2.10
itsdangerous==1.1.0
jinja2==2.11.2
markupsafe==1.1.1
python-dotenv==0.15.0
werkzeug==1.0.1
wtforms==2.3.3
