click==7.1.2
dnspython==1.16.0
email-validator==1.1.1
Flask==1.1.2
Flask-WTF==0.14.3
idna==2.9
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
python-dotenv==0.13.0
Werkzeug==1.0.1
WTForms==2.3.3
