<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <title>{{ title }}</title>
  <meta name="HandheldFriendly" content="True"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover"/>
  <meta name="theme-color" content="#5eb9d7"/>
  <link rel="shortcut icon" href="{{ url_for('static', filename='dist/img/favicon.png') }}" type="image/x-icon"/>
  {% block styles %}{% endblock %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css">
  <script src="https://kit.fontawesome.com/e3deaeba31.js" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,500" rel="stylesheet">
</head>

<body class="{{ template }}">
<div class="container">
  {% block content %}{% endblock %}
</div>
{% include 'analytics.jinja2' %}
</body>

</html>
