{% extends 'layout.jinja2' %}

{% block styles %}

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/success.css') }}"
        type="text/css"
    />

{% endblock %}

{% block content %}

    <div class="success-wrapper">
      <h1>SUCCESS!</h1>
      <p>You've submitted a valid form. Your mother would be proud.</p>
      <a href="{{ url_for('home') }}">
          <button>Start over</button>
      </a>
    </div>

{% endblock %}
